body{
  font-family: sans-serif;
  height: 600px;
  width: 800px; 
}


/* input{
  margin: 1em auto; 
} */
/* 
form{
  display: none; 
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 50;
} */

.add-stock{
  display: inline-block;
}

h1{
  font-size: 1.25rem;
}

.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
}


/* Stock Info */

.stock-info{
  width: 95%;
  margin: 0 auto;
  border-spacing: 5px;
}

th, td {
  padding: 10px 15px;
}

th{
  text-align: left;
}

.bold-text{
  font-weight: bold;
}
.green-text{
  color:green;
}

.red-text {
  color: red; 
}


